@import "libs/normalize";
@import "libs/fonts";

@import "parts/variables";

@import "parts/globals";
@import "parts/supports";
@import "parts/special";
@import "feauteres/sticky-footer";
@import "feauteres/reverse-section";

// blocks
@import "blocks/wrapper";
@import "blocks/button";
@import "blocks/logo";
@import "blocks/title";
@import "blocks/flex-list";

// sections
@import "sections/header";
@import "sections/hero";
@import "sections/servises";
@import "sections/brands";
@import "sections/contacts";
@import "sections/footer";

.contacts__map {
  height: 350px;
  margin-bottom: 48px;
  border-radius: 8px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

/** dealer-detail */
[class*="copyrights-pane"] {
  display: none !important;
}

@media (max-width: 768px) {
  .contacts__map {
    height: 240px;
  }
}
