.logo {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;

  img {
    display: block;
  }

  &__desc {
    margin: 0;
    color: var(--color-7);
  }
}

@media (max-width: 425px) {
  .logo {
    gap: 10px;
  }
}
